<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index">Events</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="DonorHome">Donations</a>
    </li>
</ul>