<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" style="color: black;">Events</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="DonorHome" style="border: solid; border-bottom: none;">Donations</a>
    </li>
</ul>