<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" style="color: black; background-color: #c6e686">Events</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="DonorHome" style="border: solid; border-bottom: none; background-color: #c6e686">Donations</a>
    </li>
</ul>