<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="EventList" style="color: black; background-color: #c6e686">Events</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="ViewVolunteers" style="border: solid; border-bottom: none; background-color: #c6e686">Volunteers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="ViewDonors" style="color: black; background-color: #c6e686">Donors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="RoleIndex" style="color: black; background-color: #c6e686">Admin Accounts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Locations" style="color: black; background-color: #c6e686">Locations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " asp-action="HoursApproval" style="color: black; background-color: #c6e686">Approve Hours</a>
    </li>
</ul>