<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" asp-action="EventList">Events</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="ViewVolunteers">Volunteers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="ViewDonors">Donors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="RoleIndex">Admin Accounts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Locations">Locations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " asp-action="HoursApproval">Approve Hours</a>
    </li>
</ul>