
<h3>Admin Dashboard </h3>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="EventList" style="color: black;">Opportunities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="ViewVolunteers" style="color: black;">Volunteers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="ViewDonors">Donors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="RoleIndex" style="color: black;">Admin Accounts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Locations" style="color: black;">Locations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " asp-action="HoursApproval" style="color: black;">Approve Hours</a>
    </li>
</ul>