<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="EventList" style="color: black;">Events</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="ViewVolunteers" style="color: black;">Volunteers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="ViewDonors" style="color: black;">Donors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="RoleIndex" style="color: black;">Admin Accounts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="Locations" style="border: solid; border-bottom: none;">Locations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " asp-action="HoursApproval" style="color: black;">Approve Hours</a>
    </li>
</ul>