
<h3>My Volunteer/Donor Dashboard </h3>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link " asp-action="Index" style="color: black">Events</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="DonorHome" style="color: black">Donations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="MyLoggedHours" >Volunteer Hours</a>
    </li>
</ul>
