<!--This View page displays the home page for the Volunteer Dashboard that includes a table of events the volunteer has signed up for.-->

@{
    Layout = "_Layout";
}

@*Script for JavaScript DataTables*@
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#yourTable2').DataTable();
        });
    </script>
}
<html>
<body>

    <br />
    <br />

    <ul class="nav nav-tabs"><!--Navigation tabs.-->
        <li class="nav-item">
            <a class="nav-link active" asp-action="Index">Volunteer</a><!--Navigation tab that directs the user to the Volunteer Dashboard home page whenever it is clicked.-->
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-action="DonorHome">Donor</a><!--Navigation tab that directs the user to the Donor Dashboard home page whenever it is clicked.-->
        </li>
    </ul>

    <br />
    <br />

    <div>
        <h3>Events I'm Signed Up For</h3>
        <table id="yourTable2" class="table table-bordered table-striped"><!--This table displays the GCP events that the volunteer is signed up for.-->
            <thead style="width: 50px">
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">Event Description</th>
                    <th class="text-center">Event Location</th>
                    <th class="text-center">Start Time</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <br />

    <div style="text-align: center">
        <a asp-action="MyLoggedHours" class="btn btn-outline-dark">View My Logged Hours</a><!--This button redirects the user to the My Logged Hours View page.-->
        <a asp-action="LogMyHours" class="btn btn-outline-dark">Log My Hours</a><!--This button redirects the user to the Log My Hours View page.-->
    </div>

    <br />

</body>
</html>
