@page
@model GCPVDMS.Views.Event.EventSignUpModel
@{
}
<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>GCP Events</h1>
        <p>[A paragraph about events at GCP. See if current websites have sometihng that could be used. Description of tasks?]</p>

        <br />
        <hr />

        <h2>Host an Event</h2>
        <p>
            We are always looking for individuals, businesses, and organizations that want to make a difference in their
            community. Our goal is to keep our district hubs stocked throughout the school year, so we can continue to provide
            clothing and other basic essentials to students in need all year long.
        </p>

        <p>Future link to event page</p>

        <br />
        <hr />
        
        <h2>Calendar of events</h2>
        <p>Here's our list of upcoming events.</p>

        <!--Note to self: Find a way to format the table nicely. Also center on page-->
        <table>
            <tr>
                <th>Date</th>
                <th>Location</th>
                <th>Event Name</th>
                <th>Sign up</th>
            </tr>
            <tr>
                <td>Fake data</td>
                <td>Fake data</td>
                <td>Fake data</td>
                <td>Fake data</td>
            </tr>
        </table>


    </body>
</html>