@*
    This view contains a list of the event hosting opportunities that GCP volunteers can lead.
*@
@{
    ViewBag.Title = "Host a Drive";
    Layout = "_Layout";
}

<!--Katrina's Code-->
<!DOCTYPE html>
<html>
<head>
    <style>
        #location, #appt {
            position: fixed;
            left: 180px;
        }
    </style>
    <!--The items in title should be the first thing in body. Instead of strong, h1 and h2 should be adequate.-->
    <title>Host a Drive</title>
</head>

<body>
    <h1>Please Consider Getting Involved to Make a Difference in a Child's Life</h1>
    <p>
        We are always looking for individuals, businesses, and organizations that want to make a difference in their
        community. Our goal is to keep our district hubs stocked throughout the school year, so we can continue to provide
        clothing and other basic essentials to students in need all year long.
    </p>
    <br />
    <p>
        Whether you choose to host a virtual drive or one at your workplace, we will help guide you to ensure your drive
        is a success!
    </p>
    <br />
    <h3>Host a Drive TODAY!</h3>
    <table>
        <tr>
            <th>Virtual Drive</th>
            <th>Regular Drive</th>
        </tr>
        <tr>
            <td>
                <ol>
                    <li>Select what type of drive you would like to host (hygiene, socks, underwear, shoe, clothing, etc.)</li>
                    <li>Download Supply List(LINK HERE) to help you create your Amazon Wish List(Amazon Link HERE) for the GCP (home or school?)</li>
                    <li>Share Amazon Wish List on Social Media and encourage friends and family to do the same!</li>
                </ol>
                @*<button>Sign-Up Now</button>*@
            </td>
            <td>
                <ol>
                    <li>Select what type of drive you would like to host (hygiene, socks, underwear, shoe, clothing, etc.)</li>
                    <li>Download and print Supply List(LINK) and Supply Poster(LINK)</li>
                    <li>Use a large bin or box and put the drive flyer on the front (SEE IMAGE LINK HERE FOR EXAMPLES)</li>
                    <li>Communicate with co-workers, friends, and neighbors about your drive via email and social media</li>
                    <li>Have fun collecting and spread the word about GCP!</li>
                </ol>
                @*<button>Sign-Up Now</button>*@
            </td>
        </tr>
    </table>
    <br />
    <h3>Choose Your Donation Drive</h3>
    <p>
        <strong>Hygiene Donations - </strong> Travel and full-size items, toothpaste, toothbrushes, shampoo/conditioner, bar soap/body wash
        deodorant, lotion, lice kits, dental floss, chapstick, hairbrushes, and combs.
    </p>
    <p><strong>Clothing Donations - </strong>Shirts, solid color polos, pants, shorts, skirts, socks, underwear, and bras.</p>
    <p><strong>Shoe Donations - </strong> Ballet flats, sneakers, dress shoes (no heels), and loafers.</p>
    <p>
        <strong>School Supplies Donations - </strong> Pencils, pens, markers, colored pencils, glue sticks, notebooks, duo-tang folders,
        composition notebooks, loose leaf paper, eraser caps, pencil pouches, backpacks, and clear/mesh backpakcs.
    </p>
    <p>
        <strong>Ethnic Hair Kits Donations - </strong> Wide-toothed comb, shampoo (sulfate-free, alcohol-free, and PH balanced), leave-in
        conditioner, hair oil, styling gel/curl-defining product, shower cap, spray-bottle.
    </p>

    <h3>Tips for a Successful Drive</h3>
    <p>
        <ul>
            <li>Encourage co-workers, friends, and family to donate and share</li>
            <li>Use a variety of ways to spread the word - email, texts, social media platforms</li>
            <li>
                Use your creativity and have fun! - Be sure to snap photos and post stories throughout the drive. Be sure to tag us so we can
                showcase your efforts.
            </li>
        </ul>
    </p>

    <p>
        Be sure to schedule the supply drop-off by emailing:
    </p>
    <p>
        Duval locations - Jennifer Smith at jennifer@givingclosetproject.org <br />
        Palm Beach locations - Brooke Dooley at brooke@givingclosetproject.org
    </p>
    <br />
    <br />
</body>
</html>
