@*
    Page to Create Events
*@

@{
    Layout = "_Layout";
}


<!DOCTYPE html>
<!---Until a layout is created which will be referenced at the top of the page-->

<head>
    <style>
        #location, #appt {
            position: fixed;
            
            left: 180px;
        }
    </style>
</head>
<body>

    <h1> Create Event </h1>

    <div class="container">
        <div class="row">

            <div class="col px-md-5">

                <form>


                    <select name="County" id="County">
                        <option value="county">County</option>
                        <option value="Duval">Duval</option>
                        <option value="Palm Beach">Palm Beach</option>
                        <option value="Other">Other</option>
                    </select>

                    <br />
                    <br />

                    <select name="Location" id="Location">
                        <option value="location">Location</option>
                        <option value="MLK">MLK Elementary</option>
                        <option value="mandarin">Mandarin</option>
                        <option value="Other">Other</option>
                    </select>

                    <br />
                    <br />

                    <div>
                        <label>Start Time: </label>
                        <input type="time" id="startTime" name="startTime" min="09:00" max="18:00" required>
                        <br />
                        <label>End Time: </label>
                        <input type="time" id="endTime" name="endTime" min="09:00" max="18:00" required>
                    </div>

                    <br />

                    <div>
                        <label for="quantity">Number of Volunteers Needed: </label>
                        <input type="number" id="quantity" name="quantity" min="1">
                    </div>

                    <br />

                    <div>
                        <label for="title">Event Title: </label>
                        <input type="text" id="title" name="title" required>
                    </div>

                    <br />
                    <br />

                    <div>
                        <label for="description">Description: </label>

                        <textarea rows="4" cols="50" name="comment" form="usrform"></textarea>

                        <!--   <input type="text" id="description" name="description" required> -->
                    </div>

                    <h4> Point of Contact </h4>

                    <div>
                        <label for="pocName">Name: </label>
                        <input type="text" id="pocName" name="pocName" required>

                        <br />

                        <label for="pocPhone">Phone: </label>
                        <input type="tel" id="pocPhone" name="pocPhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">

                        <br />

                        <label for="pocEmail">Email: </label>
                        <input type="email" id="pocEmail" name="pocEmail">
                    </div>

                    <br />

                    <input type="checkbox" id="activeEvent" name="activeEvent" value="active">
                    <label for="activeEvent">Event Active</label>
                    
                    <br />
                    
                    <input type="checkbox" id="visible" name="visible" value="yes">
                    <label for="visible">Visible to Admin Only</label>
                    
                    <br />  
                    <br />

                    <input type="submit" value="Add Event"> <input type="reset">

                </form>

            </div>

            <div class="col col-md-3">

                <h2>Tasks</h2>

            </div>

        </div>

    </div>

</body>
