@model Event

@{
    ViewBag.Title = "Edit Event";
    Layout = "_Layout";
}
@section Scripts{
    <script>
        $(function () {
            $('[type="date"]').prop('min', function () {
                return new Date().toJSON().split('T')[0];
            });
        });
    </script>
}


<!DOCTYPE html>
<partial name="_GlobalEventTabs" />

<head>
    @*<style>
            #location {
                position: fixed;
                left: 180px;
            }

            label, textarea {
                display: block;
            }
        </style>*@
</head>
<body>

    <h1> Event </h1>

    <div class="container">
        <div class="row">

            <div class="col px-md-5">

                <form asp-action="Index" method="post">
                    <input type="hidden" asp-for="EventID" />


                    @*<select name="County" id="County">
                        <option value="county">County</option>
                        <option value="Duval">Duval</option>
                        <option value="Palm Beach">Palm Beach</option>
                        <option value="Other">Other</option>
                    </select>

                    <br />
                    <br />*@

                    <select asp-for="LocationID">
                        <option value=" " selected>Location</option>
                        <option value="1">Mandarin</option>
                        <option value="2">MLK Elementary</option>
                        <option value="3">Palm Beach</option>
                        <option value="5">Offsite Duval</option>
                        <option value="6">Offsite Palm Beach</option>
                    </select>

                    <br />
                    <br />


                    <div class="form-group">
                        <label asp-for="EventDate">Event Date: </label>
                        <input asp-for="EventDate" class="form-control">
                    </div>

                    <br />

                    <div class="form-group">
                        <label asp-for="StartTime">Start Time: </label>
                        <input asp-for="StartTime" type="time" min="09:00" max="18:00" class="form-control">
                    </div>

                    <br />

                    <div class="form-group">
                        <label asp-for="EndTime">End Time: </label>
                        <input asp-for="EndTime" type="time" min="09:00" max="18:00" class="form-control">
                    </div>

                    <br />


                    <div class="form-group">
                        <label asp-for="NumVolunteersNeeded">Number of Volunteers Needed: </label>
                        <input asp-for="NumVolunteersNeeded" min="1" class="form-control">
                    </div>

                    <br />

                    <div class="form-group">
                        <label asp-for="EventTitle">Event Title: </label>
                        <input asp-for="EventTitle" class="form-control">
                    </div>

                    <br />
                    <br />

                    <div class="form-group">
                        <label asp-for="EventDescription">Description: </label>
                        <textarea rows="4" cols="50" asp-for="EventDescription" class="form-control"></textarea>
                    </div>

                    <br />

                    <h4> Point of Contact </h4>

                    <div class="form-group">
                        <label asp-for="POCName">Name: </label>
                        <input asp-for="POCName" class="form-control">
                    </div>

                    <br />

                    <div class="form-group">
                        <label asp-for="POCPhone">Phone: </label>
                        <input asp-for="POCPhone" class="form-control">
                    </div>

                    <br />
                    <div class="form-group">
                        <label asp-for="POCEmail">Email: </label>
                        <input asp-for="POCEmail" class="form-control">
                    </div>

                    <br />

                    <div class="form-group">
                        <input asp-for="isEventActive" class="custom-checkbox">
                        <label>Event Active</label>
                    </div>

                    @* TEAM DECIDED TO NOT HAVE "VISIBLE TO ADMIN ONLY" OPTION AS EVENT ACTIVE TAKES CARE
                            OF THIS
                        <input type="checkbox" id="visible" name="visible" value="yes">
                        <label for="visible">Visible to Admin Only</label>
                    *@

                    <br />
                    <div>
                        <button class="btn btn-primary" type="submit">Save Event</button> <a asp-action="EventList" class="btn btn-outline-dark">Cancel</a>
                    </div>
                </form>
            </div>


            <div class="col col-md-3">

                <h2>Tasks</h2>

            </div>

        </div>

    </div>

</body>
