@model GCPVDMS.Models.GCPTaskDTO

@{
    ViewData["Title"] = "MasterTask";
}

<head>
    <style>
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

            .styled-table thead tr {
                color: black;
                text-align: left;
                border-bottom: 1px solid #dddddd;
            }

            .styled-table th,
            .styled-table td {
                padding: 12px 15px;
            }

            .styled-table tbody tr {
                border-bottom: 1px solid #dddddd;
            }

                .styled-table tbody tr:nth-of-type(odd) {
                    background-color: #f3f3f3;
                }
    </style>
</head>

<!DOCTYPE html>
<partial name="_GlobalEventTabs" />
<br />
<center><h3 style="background-color: #D4EDDA;">Master Task List</h3></center>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MasterTask">
            <input type="hidden" asp-for="GCPTaskData.GCPTaskID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="GCPTaskData.GCPTaskID" class="control-label"></label>
                    <input asp-for="GCPTaskData.GCPTaskID" class="form-control" />
                    <span asp-validation-for="GCPTaskData.GCPTaskID" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="GCPTaskData.TaskName" class="control-label">Task Name</label>
                <input asp-for="GCPTaskData.TaskName" class="form-control" />
                <span asp-validation-for="GCPTaskData.TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-dark" />
            </div>
        </form>
    </div>
</div>

<table class="styled-table" id="tasktable">
    <thead>
        <tr>
            <th>Task Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GCPTaskList)
        {
            <tr>
                <td>@item.TaskName</td>
                <td>
                    @Html.ActionLink("Edit", "GCPTaskEdit", new { id = item.GCPTaskID })
                    @*<input type="hidden" name="GCPTaskID" value=" " />
                        <a asp-action="GCPTaskEdit" class="btn btn-outline-dark btn-sm"
                           asp-route-GCPTaskId="@item.GCPTaskID">
                            Edit
                        </a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index" class="btn btn-outline-dark">Back to Event List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
