@model string

<br />
<center><h3 style="background-color: #D4EDDA;">Create a Role</h3></center>
<a asp-action="RoleIndex" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="RoleCreate" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>