@model ApplicationUser

<partial name="_GlobalApprovalTabs" /><br/>
 <center><h3 style="background-color: #009E00; color: white">Approve User Account</h3></center>

<a asp-action="ViewUsers" class="btn btn-sm btn-outline-dark">Back to List</a>
<div asp-validation-summary="All" class="text-danger"></div>
<center>
    <form asp-action="UpdateUser" method="post">
        <div class="form-group">
            <label asp-for="isApproved"><b>Check box to approve user account.</b></label>
            <input asp-for="isApproved" class="form-control" />
        </div>
        <label>Once confirmed, account will be removed from the approval queue and account user will have access to the volunteer/donor login portal.</label><br/>
        <button type="submit" class="btn btn-sm btn-outline-dark">Confirm</button>
    </form>
</center>