@model IEnumerable<ApplicationUser>
@{
    Layout = "_Layout";

}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#volunteerTable').DataTable();
        });</script>
}
<partial name="_GlobalApprovalTabs" />


<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <center><h3 style="background-color: #009E00; color: white">GCP Volunteers</h3></center>
    <table id="volunteerTable" class="display">
        <thead>
            <tr>
                <th><center>First Name </center></th>
                <th><center>Last Name </center></th>
                <th><center>Actions </center></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ApplicationUser user in Model)
            {

                @if (user.isVolunteer)
                {

                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>
                            <center>
                                <button type="submit" class="btn btn-outline-dark" asp-action="VolunteerInfo" asp-route-id="@user.Id">View</button>
                            </center>
                        </td>
                    </tr>

                }
            }
            </tbody>
    </table>
    <br/><br/>
</form>