@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm your email";
}

<h1>@ViewData["Title"]</h1>
<h2>Thanks for taking a step toward making a change in our community!</h2>
<h3>Your account is confirmed, and you can now login to access the volunteer donor portal!</h3>
