@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

    <center>
        <h1>Create an Account</h1>

        <div>
            <div class="col-4 border border-secondary rounded m-20">
                <div>

                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

                        <div class="form-group">
                            <label asp-for="Input.FirstName"></label>
                            <input asp-for="Input.FirstName" class="form-control" />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.LastName"></label>
                            <input asp-for="Input.LastName" class="form-control" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        @*<div asp-validation-summary="All" class="text-danger"></div>*@
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.isVolunteer"></label>
                            <input asp-for="Input.isVolunteer" class="form-control" />
                            <span asp-validation-for="Input.isVolunteer" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.isDonor"></label>
                            <input asp-for="Input.isDonor" class="form-control" />
                            <span asp-validation-for="Input.isDonor" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-outline-secondary">Register</button><br /><br />
                    </form>
                </div>
            </div>
        </div>
    </center>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
