@{
    Layout = "_Layout";
}

@*Script for JavaScript DataTables*@
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#yourTable2').DataTable();
        });
    </script>
}
<partial name="_DonorDonateTab" /><!--dashboard tabs-->
<html>
<body>

    <div style="text-align: center">

    </div>

    <br />


    <div>
        <center><h3 style="background-color: #D4EDDA;">Transaction History</h3></center>
        <br />
        <div style="text-align: center">
            <input type="button" class="btn btn-outline-dark" value="Print My Transaction History" onclick="window.print()" />
        </div>
        <br />
        <table id="yourTable2" class="table table-bordered table-striped">
            <thead style="width: 50px">
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Type</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <br />
    <div style="text-align: center">

        <br />
        <br />
        <br />
        <br />
        <br />

    </div>

    <!--This area is hidden to the viewers and only used when the user selects the Print Transaction History button on this page.-->
    <!--<div id="printableArea">
        <p style="text-align:center"><img src="~/images/logo.png" height="200" width="200"></p>-->
    <!--GCP logo-->
    <!--<br />
        <br />

    </div>-->

    <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="hosted_button_id" value="BHJ58DJ4YQN3G" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>


</body>
</html>

