@{
    Layout = "_Layout";
}

@model DonorViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*Script for JavaScript DataTables*@
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#yourTable2').DataTable();
        });
    </script>
}
<partial name="_DonorDonateTab" /><!--dashboard tabs-->
<html>
<body>
    <br />
    <div>
        <center><h3 style="background-color: #D4EDDA;">Transaction History</h3></center>
        <br />
        <div style="text-align: center">
            <input type="button" class="btn btn-outline-dark" value="Print My Transaction History" onclick="window.print()" />
        </div>

        <div class="text-center">
            <p><h5>Donate to The Giving Closet Project using the button below!</h5>Your funds will help provide students in the Palm Beach and Duval counties with personal hygiene items,<br />clothing, school supplies and the hope for a better future.</p>
            <form action="https://www.paypal.com/donate" method="post" target="_top">
                <input type="hidden" name="hosted_button_id" value="BHJ58DJ4YQN3G" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button"/>
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
            </form>
        </div>
        <br />
        <table id="yourTable2" class="table table-bordered table-striped">
            <thead style="width: 50px">
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Transaction Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Donors)
                {
                    @if (SignInManager.IsSignedIn(User))//checks that user is Signed in
                    {
                        //var user_email = UserManager.GetUser(User);//get signed in user's UserID
                        //if (user == item.UserId)//checks for event registration table UserID's that match the signed in user's UserId
                        var CurrentVolunteer = UserManager.FindByIdAsync(UserManager.GetUserId(User)).Result;
                        if (CurrentVolunteer.Email == item.email_address) 
                        {
                            <tr>
                                    <td class="text-center">@item.transaction_initiation_date</td>
                                    <td class="text-center">@item.transaction_value</td>
                                    <td class="text-center">@item.transaction_status</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <br />

    <!--This area is hidden to the viewers and only used when the user selects the Print Transaction History button on this page.-->

</body>
</html>

